

/* Variables */
:root {
    --main_blue_font-color: #4171aa;
    --main_darkblue-font-color: #031424;
}



.art-wrapper {
    width: 100%;
    height: auto;
    display: flex;

}

.art-outer {
    padding: 0px 0;
    margin: 20px 0px 0 0;
    flex-direction: column;
    min-height: 120px;

}

.art-inner {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.art-inner h2 {
}


.art-inner h2 a:hover{
    color: #4171aa !important;
}



.art-outer:last-child {
    border-bottom: none;
}

.meta-author-min {

}

.art-link {

}


.art-wrapper p {
}

.art_link a{

}

.text-wrap {
    display: flex;
    margin-right: 15px;
    flex-basis: 70%;
    border-radius: 4px;
    flex-direction: column;
}

.text-wrap > p {
    display: flex;
    flex-direction: row;
}

.img-wrap-inner {
    flex-basis: 30%;
    display: inline-block;
    overflow: hidden !important;
}

.img-wrap-inner img {

    border-radius: 4px;
    box-shadow: 0 3px 2px -1px rgba(0, 128, 255,.05);
    display: block; /* no whitespace */

}

.img-wrap-inner:hover img {

}

.meta-line {
    font-size: 10px;
    margin-top: auto;
    width: auto;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;

}

.meta-line-child-wrapper {
    background: rgba(255,255,255,.35);
    box-shadow: 0 3px 2px -1px rgba(0, 128, 255,.05);
    padding: 2px 4px;
    flex-direction: row;
    display: inline-flex;
}

.meta-line p {
}

.meta-child {
    flex-direction: row;
}

.zoom {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1.0);
}

.zoom-hover {
    opacity: 0.6;
    filter: alpha(opacity=50);
    transform: scale(1.02);
}

.zoom-solidcolor {
    opacity: 1 !important;
}

.zoom-child {
    transition: all .1s ease-in-out !important;
}

.zoom-child:hover {
    transition: all .1s ease-in-out !important;
}
