#checkout-form input[type="text"],
#checkout-form input[type="password"],
#checkout-form input[type="email"],
#checkout-form input[type="tel"],
#checkout-form input[type="date"] {
    width: 100%;
    margin: 10px 0;
    background: none;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid;
    border-color: lightgray;
    padding-bottom: 10px;
    text-indent: 10px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    color: var(--main_blue_font-color);
}

#checkout-form input[type="submit"]{
    width: 100%;
    height: 45px;
    margin: 20px 0 10px 0;
    font-size: 18px;
    text-align: center;
    border: none;
    display: inline-block;
    background-color: #4171aa;
    color: white;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#checkout-form input[type="submit"]:hover{
    background-color: #325784;
}

#checkout-form input:focus {
    border-color: var(--main_blue_font-color);
}

#checkout-table {
    border-collapse: separate;
    display: table;
    width: 100%;
    margin: 20px 0;
}

#checkout-table th {
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', Roboto;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 10px;
}

#checkout-table tr {
}


#checkout-table td {
    display: table-cell;
    width: 45%;
}

#checkout-table td {
    padding-right: 20px;
}

#checkout-table input[type="radio"] {
    
}
