/* Media Queries */

@media(max-width: 1030px) {
  #sideMenu li {
    font-size: 90%;
  }

  #main_inner {
    width: 85%;
  }
}

@media(max-width: 950px) {

    .companyHeader {
      font-size: 25px;
    }
    #splash_box h1 {
        font-size: 50px;
    }
}

@media(max-width: 870px) {
  #main_inner {
    width: 95%;
  }

  #splash_box h1 {
      font-size: 35px;
  }
}


@media(max-width: 768px) {

  header #utility_header,
  header nav,
  header nav li,
  #searchBar h1,
  #searchBar form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  header nav{
      float: left;
  }

  header li {
      padding: 15px 8px;
  }

  header li a {
      font-size: 90%;
  }

  #header-lower {
  }

  #shopping-cart-icon {
      width: 80%;
      float: none;
      margin: 40px auto 25px auto;
  }

  #shopping-cart-window {
      top: 82px;
      left: 0;
  }

  .companyHeader {
    font-size: 20px;
  }


  #searchBar button {
    display: block;
    width: 100%;
  }

  #searchBar form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }

  #boxes {
    width: 100%;
  }

  #boxes .box {

      margin-bottom: 45px;
      display: block;
      float: left;
  }

  #sideMenu {
    width: 70%;
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
  }

  #sideMenu li {
    font-size: 100%;
  }

  main#main-content {
    width: 100%;
    border-top: 1px solid lightgray;
    padding-top: 20px;
  }
}

@media(max-width: 650px) {
  .companyHeader {
    font-size: 28px;
  }


  #searchBar {
    width: 100%;
  }
  #searchBar input[type="email"] {
    width: calc( 100% - 100px) !important;
  }


  #order-review-finalize th {
      padding: 5px;
      font-size: 90%;
  }

 .product_main p{
         font-size: 90%;
    }

  #order-review-finalize td {
      padding: 5px;
      font-size: 90%;
  }
}
