#product-name-top {
    width: 100%;
    margin-bottom: 15px;
}

.articleNumber {
    font-size: 12px;
}

#product-top {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-bottom: 20px;
}

#product-gallery,
#product-info {
    width: 45%;
    height: auto;
    box-sizing: border-box;
}

#product-gallery {
    float: left;
}

#product-gallery img {
    width: 100%;
    height: auto;
}

#product-info {
    float: right;
}

.product-price{
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    color: var(--main_blue_font-color);
}

#product-info .addToBasket_form input {
    width: 100%;
}

#product-specifications {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.product-spec {
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-spec tr > td{
    border-bottom: 1px solid #e5e5e5;
}

.product-spec tr:nth-child(odd) {
    background: #fbfbfb;
}

.product-spec tr:last-child > td {
    border-bottom: 0;
}

.product-spec td {
    padding: 5px;
}

.product-spec th {
    text-align: left;
    padding: 15px 5px 5px;
}

.product-spec th {
    background: #f4f4f4;
}