/* Variables */
:root {
  --main_blue_font-color: #4171aa;
  --main_darkblue-font-color: #031424;
}

#productList {
  list-style: none;
}

#productList li {
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

#productList li:first-child {
  padding-top: 0px;
}

#productList li:last-child {
  padding-bottom: 0px;
  border-bottom: 0;
}

.product_wrapper {
  width: 100%;
  height: auto;
  padding: 0px 0;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
}

.product_wrapper:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,.04);
  background: white;
  border: 1px solid lightgray;
}

#productList p {
  color: black;
}

#productList h2 {
  color: var(--main_blue_font-color);
}

.product_main {
  width: 55%;
  padding-top: 25px;
  padding-left: 25px;
  display: table-cell;
}

.product_main a {
  text-decoration: none;
}

.product_tnail {
  width: 25%;
  height: auto;
  background: white;
  display: table-cell;
  vertical-align: middle;
  border-radius: 20px;
  border: 1px solid lightgray;
  transition: all 0.2s ease;
}


.product_tnail img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 10px;
  box-sizing: border-box;
}

.product_price {
  width: 10%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.product_price h3 {
  color: var(--main_blue_font-color);
}

.description {
    margin-top: 10px;
    padding-bottom: 10px;
}
