

.profile-info {
    display: flex;
}

.profile-text {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
}

.userinfo {
    display: flex;
    flex-basis: 50%;
}
.profile-settings {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
}

.username {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: rgba(0,0,0,.1);
}

.username h3 {
    display: flex;
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 10px;

}

.username p {
    display: flex;
    flex-basis: 100%;
    box-sizing: border-box;
    padding: 10px;

}

.profile-image-wrap {
    display: flex;
    flex-basis: 50%;
    box-sizing: border-box;
}

.profile-image img {
    max-width: 175px;
    height: auto;
}