#sideMenu {
    width: 20%;
    height: auto;
    float: left;
    display: block;
}

.toggler {
    transition: all 0.1s ease-in-out;
}

#sideMenu .toggler:hover {
    transform: scale(1.05);
}

#sideMenu > ul > li > ul {
    display: none;
}


#sideMenu > ul > li {
    list-style: none;
    text-decoration: none;
    color: #3c6eac;
    letter-spacing: 0.7px;
}

#sideMenu > ul {
    text-indent: 15px;
}

#sideMenu li {
    transition: 0.2s ease-in-out;
}

#sideMenu ul ul li {
    padding: 8px 5px;
    list-style: none;
}

#sideMenu ul li ul {
}

#sideMenu > ul > li {
    padding: 8px 0;
}
.level2 {
}

.level2 li:first-child {
    border-top: 0;
}

#sideMenu ul li.parent {
    padding: 0;
    padding-top: 8px;
}

#sideMenu li.parent .toggler {
    padding-bottom: 5px;
    display: block;
}

#sideMenu li a {
    color: #3c6eac;
    text-decoration: none;
    letter-spacing: 1.2px;
}

#sideMenu ul li ul li.current_lvl2 {
    border-left: 5px solid #3c6eac;
    padding-left: 5px;
    font-weight: bold;
}

#sideMenu .sMenu-heading-wrap {
    position: relative;
    margin: 0;
    padding: 6px 6px;
    width: 100%;
    height: auto;
    background: var(--main_blue_font-color);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: 0.2s ease-in-out;
    display: flex;
    cursor: pointer;
    text-indent: 9px;
    box-sizing: border-box;

}

#sideMenu h3 {
    color: #ffffff;

}

.sMenu-collapsed {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px 8px;
}

.sMenu-collapsed ul {
    display: none;
}

#sideMenu > ul > li {
    cursor: pointer;
}

.level1 > li {
    border-bottom: 1px solid lightgray;
}

.menuItem-border-bottom {
    border-color: #4171aa !important;
}

#sideMenu > ul > li:hover {
    border-color: #4171aa;
}
#sideMenu > ul > li:last-child:hover {
    border-bottom: none;
}

#sideMenu > ul > li:last-child {
    border-bottom: none;
}

#sideMenu ul li ul li {
    font-size: 80%;
    text-indent: 10px;
    transition: 0.2s ease-out;
}

#sideMenu ul li ul li:hover {
    border-left: 5px solid #3c6eac;
    padding-left: 5px;
    font-weight: bold;
}
